@import '/styles/variables.css';
body{
    background-color: var(--theme-bg);
}
.container{
  align-items: center;
  position: fixed;
  width: 100%;
  top: 30%;
  left: 40%;
}

.btn{
    font-size: var(--md-text);
}
