@import '/styles/variables.css';
body{
    background-color: var(--theme-bg);
}
.container{
    position: fixed;
    width: 30%;
    top: 25%;
    left: 40%;
  }

.focus{
      display: block;
      margin-left: 0px;
  }

.btn{
     display: inline-block;
     text-align: center;
      width: 60%;
      font-size: var(--md-text);
      border: 1px solid var(--success-border);
      margin-left: 0px;
  }